# Server Configuration
PORT=3000

# MySQL Database Configuration
DB_HOST=sql.dsadsadas
DB_USER=dasdsadas
DB_PASSWORD=dsadsa
DB_NAME=dsadasdas

# MQTT HiveMQ Cloud Configuration
MQTT_HOST=your-hivemq-cloud-url.hivemq.cloud
MQTT_PORT=8883
MQTT_USERNAME=your_username
MQTT_PASSWORD=your_password
